.flex-container{
    background-color: dodgerblue;
}
.flex-container>div{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
#tab-items{
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}
#tab-items li{
    text-align: justify;
    display: inline-flex;
}
#tab-items li a{
    font-style: normal;
    color: black;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
}
#tab-items li a:hover{
    color: white;
}
#info-items li{
    list-style-type: none;
}
#register{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 0px;
}
#register li{
    display: inline;
    text-align: justify;
}
#register li a:hover{
    color: white;
}
#logo{
    margin: 7px;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #333;
	/* font: 800 70px 'Bitter'; */
    font-size: 4rem;
    justify-content: center;
    align-items: center;
}
#tabs{
    background-color: rgb(113, 163, 212);
}
#info{
    margin: 5px;
    padding: 5px;
    font-size: 17px;
    justify-content: center;
    background-color: rgb(199, 142, 35);
    
}
.flex-container2{
    height: 70rem;
    min-width: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./background.jpg");
}
.flex-container2 h1{
    font-size: 7em;
    min-width: 1em;
    color: darkblue;
    padding: 1em;
}